<div (mousedown)="pageTouched($event)" (mouseenter)="pageTouched($event)" (mouseup)="pageTouched($event)"
  (mouseleave)="pageTouched($event)" (click)="pageTouched($event)" class="box">

  <!-- <span id="logout-reload" data-toggle="modal" data-target="#modal-logout-reload"></span> -->

  <div class="modal fade" id="modal-update-version">
    <div class="modal-dialog">
      <div class="modal-content bg-default">
        <div class="modal-header">
          <strong>Mise à jour de l'Application disponible</strong>
          <span id="active-update-modal" data-toggle="modal" data-target="#modal-update-version"></span>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h3>Une nouvelle version de l'application est disponible.</h3>
          <p>Voulez-vous procéder à la mise à jour ?</p>
          <p>La page va se recharger si "OUI". Veuillez sauvegarder vos données avant cette opération!</p>
        </div>
        <div class="modal-footer justify-content-between">
          <button id="close-update-modal" type="button" class="btn btn-default" data-dismiss="modal">Non
            annuler</button>
          <button (click)="UpdateVersion()" type="button" class="btn btn-info swalDefaultSuccess">Oui mettre à
            jour</button>
        </div>
      </div>
    </div>
  </div>


  <div *ngIf="roles().isSuperAdmin()">

    <div class="w-100 btn btn-success onlinemsg">
      <span class="badge bg-success" *ngIf="isOnline">Ok</span> You are Online
    </div>

    <div class="w-100 btn btn-danger offlinemsg">
      <span class="badge bg-danger" *ngIf="!isOnline">Ooops!</span> You are Offline
    </div>

  </div>


  <div *ngIf="isAuthenticated() && !errorFound()">

    <div class="wrapper">
      <!-- <div class="preloader flex-column justify-content-center align-items-center">
        <div id="nb-global-spinner" class="spinner">
          <div class="blob blob-0"></div>
          <div class="blob blob-1"></div>
          <div class="blob blob-2"></div>
          <div class="blob blob-3"></div>
          <div class="blob blob-4"></div>
          <div class="blob blob-5"></div>
        </div>
      </div> -->

      <nav class="main-header navbar navbar-expand navbar-white navbar-light">
        <ul *ngIf="roles().canViewLeftNavigation()" class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" (click)="cancelDefaultAction($event)" role="button"><i
                class="fas fa-bars"></i></a>
          </li>
        </ul>

        <ul class="navbar-nav ml-auto">
          <!-- <li *ngIf="!roles().isChws() && !roles().isOnlySupervisorMentor()" class="nav-item">
            <a class="nav-link" data-widget="navbar-search" href="#" (click)="cancelDefaultAction($event)" role="button">
              <i class="fas fa-search"></i>
            </a>
            <div class="navbar-search-block">
              <form class="form-inline">
                <div class="input-group input-group-sm">
                  <input class="form-control form-control-navbar" type="search" placeholder="Search"
                    aria-label="Search">
                  <div class="input-group-append">
                    <button class="btn btn-navbar" type="submit">
                      <i class="fas fa-search"></i>
                    </button>
                    <button class="btn btn-navbar" type="button" data-widget="navbar-search">
                      <i class="fas fa-times"></i>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </li> -->

          <li class="nav-item dropdown">
            <a class="nav-link" data-toggle="dropdown" href="#" (click)="cancelDefaultAction($event)"
              style="text-align: center; color: blue !important;display: inline-block;">
              <img style="margin-top: -12px;" src="{{ currentUser()?.userLogo }}" width="40"
                class="img-circle elevation-2" alt="User Image">

              <span style="margin-left: 5px;">{{ roles().isChws() ? ChwLogged()?.name: currentUser()?.username }}</span>

            </a>
            <div *ngIf="roles().canViewTopNavigation()" class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
              <div *ngIf="roles().isSuperAdmin()" class="dropdowndivider1"></div>

              <a *ngIf="roles().isSuperAdmin()" class="nav-link" data-widget="fullscreen" href="#"
                (click)="cancelDefaultAction($event)" role="button">
                <i class="fas fa-expand-arrows-alt"></i> Aggrandir / réduire
              </a>

              <div *ngIf="roles().isSuperAdmin()" class="dropdowndivider1"></div>
              <a *ngIf="roles().isSuperAdmin()" class="nav-link" data-widget="control-sidebar" data-slide="true"
                href="#" role="button">
                <i class="fas far fa-bell"></i> Menu de controle
              </a>

              <div class="dropdowndivider0"></div>

              <ng-container *ngIf="SHOW_CHWS_PAGES()">
                <div *ngFor="let item of CHWS_PAGES">
                  <div *ngIf="HasPageAccess(item.link)" class="dropdowndivider1"></div>
                  <a *ngIf="HasPageAccess(item.link)" class="nav-link" href="#" (click)="NavigateTo($event,item.link)"
                    role="button">
                    <i style="margin-right: 10px;" [class]="item.icon"></i>
                    <span style="color: black;">{{ item.label }}</span>
                  </a>
                </div>
              </ng-container>

              <div class="dropdowndivider2"></div>
              <div *ngIf="roles().canUpdatePassword() && HasPageAccess('auths/change-password')">
                <div class="dropdowndivider2"></div>
                <a class="nav-link" href="#" (click)="NavigateTo($event,'auths/change-password')" role="button">
                  <i style="margin-right: 10px;" class="fas far fa-info"></i>
                  <span style="color: black;">Modifier mot de passe</span>
                </a>
              </div>


              <div *ngIf="roles().canLogOut()">
                <div class="dropdowndivider2"></div>
                <a href="#" class="nav-link" data-toggle="modal" data-target="#modal-logout">
                  <i class="fa fa-sign-out-alt"></i> Se déconnecter
                </a>
              </div>

              <div class="dropdowndivider1"></div>

            </div>
          </li>
        </ul>
      </nav>

      <aside *ngIf="roles().canViewLeftNavigation()" style="height: 100%!important;"
        class="main-sidebar sidebar-dark-primary elevation-4">
        <a href="#" class="brand-link" style="text-align: center;" (click)="cancelDefaultAction($event)">
          <span class="brand-text font-weight-light">
            <img src="{{appLogo}}" alt="Integrate Health" class="" style="opacity: .8; width: 150px!important;">
          </span>
        </a>

        <div class="sidebar" style="height: 80%!important;">
          <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
              <br>

              <ng-container *ngFor="let item of ADMIN">
                <li *ngIf="HasPageAccess(item.link)" class="nav-item">
                  <a href="#" (click)="NavigateTo($event,item.link)" class="nav-link">
                    <i [class]="item.icon"></i>
                    <p>{{ item.label }}</p>
                  </a>
                </li>
              </ng-container>

              <p class="separation"></p>

              <ng-container *ngFor="let item of VOIR_DONNEES_ASC">
                <li *ngIf="HasPageAccess(item.link)" class="nav-item">
                  <a href="#" (click)="NavigateTo($event,item.link)" class="nav-link">
                    <i [class]="item.icon"></i>
                    <p>{{ item.label }}</p>
                  </a>
                </li>
              </ng-container>

              <p class="separation"></p>

              <ng-container *ngFor="let item of GESTION_DE_DONNEES">
                <li *ngIf="HasPageAccess(item.link)" class="nav-item">
                  <a href="#" (click)="NavigateTo($event,item.link)" class="nav-link">
                    <i [class]="item.icon"></i>
                    <p>{{ item.label }}</p>
                  </a>
                </li>
              </ng-container>

              <p class="separation"></p>

              <ng-container *ngFor="let item of GESTIONS_DE_RAPPORTS">
                <li *ngIf="HasPageAccess(item.link)" class="nav-item">
                  <a href="#" (click)="NavigateTo($event,item.link)" class="nav-link">
                    <i [class]="item.icon"></i>
                    <p>{{ item.label }}</p>
                  </a>
                </li>
              </ng-container>

              <p class="separation"></p>

              <ng-container *ngFor="let item of GESTIONS_DES_ASC">
                <li *ngIf="HasPageAccess(item.link)" class="nav-item">
                  <a href="#" (click)="NavigateTo($event,item.link)" class="nav-link">
                    <i [class]="item.icon"></i>
                    <p>{{ item.label }}</p>
                  </a>
                </li>
              </ng-container>

              <p class="separation"></p>

              <br>
            </ul>
          </nav>
        </div>

        <!-- <form *ngIf="roles().isSuperAdmin()" class="form-inline nav-link input-group input-group-sm">
          <select #langSelect (change)="translate.use(langSelect.value)">
            <option *ngFor="let lang of translate.getLangs()" [value]="lang"
              [selected]="lang === translate.currentLang">{{ lang }}</option>
          </select>
          {{ 'HOME.TITLE' | translate }}:{{ 'HOME.SELECT' | translate }}
        </form> -->

        <br><br>
        <h3 *ngIf="appVersion()!=null"
          style="position:relative;bottom:0;width:100%; text-align: center;font-size: large; color: white;">
          Version: {{ appVersion() }}
        </h3>

      </aside>

      <div *ngIf="roles().canViewLeftNavigation()" class="content-wrapper iframe-mode" data-widget="iframe"
        data-loading-screen="750">
        <ng-container *ngTemplateOutlet="template"></ng-container>
      </div>

      <div *ngIf="!roles().canViewLeftNavigation()">
        <ng-container *ngTemplateOutlet="template"></ng-container>
      </div>

      <aside class="control-sidebar control-sidebar-dark">
      </aside>
    </div>

    <div class="modal fade" id="modal-logout">
      <div class="modal-dialog">
        <div class="modal-content bg-default">
          <div class="modal-body">
            <p>DECCONEXION</p>
            <p>Souhaitez-vous vraiment vous déconnecter?</p>
            <p>Assurez-vous d'avoir sauvegarder vos donné</p>
          </div>
          <div class="modal-footer justify-content-between">
            <button id="modal-logout-close" type="button" class="btn btn-default" data-dismiss="modal">Non</button>
            <button (click)="logout($event)" type="button" class="btn btn-danger swalDefaultSuccess">Oui! Déconnecter</button>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="modal fade" id="modal-logout-reload">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body" style="text-align: center;">
            <span style="font-size: 20px;color:red;text-align: center;">
              {{ infosModalMessage }} <br><br>
              <strong style="font-size: 25px;">{{ countdown }}</strong> <br><br>
              secondes.
            </span>
            <span id="logout-reload-dismiss" class="close" data-dismiss="modal" aria-label="Close"></span>
          </div>
        </div>
      </div>
    </div> -->

    <audio id="audio-alert" src="assets/audio/alert.mp3" preload="auto"></audio>
    <audio id="audio-fail" src="assets/audio/fail.mp3" preload="auto"></audio>
  </div>

  <div *ngIf="!isAuthenticated() || errorFound()">
    <ng-container *ngTemplateOutlet="template"></ng-container>
  </div>

  <ng-template #template>
    <router-outlet></router-outlet>
  </ng-template>


</div>