<div class="page-content-wrap">
    <div class="col-12 col-sm-12">
        <div class="card card-warning card-tabs">
            <div class="card-header p-0 pt-1">
                <ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="custom-tabs-one-thinkmd-tab" data-toggle="pill"
                            href="#custom-tabs-one-thinkmd" role="tab" aria-controls="custom-tabs-one-thinkmd"
                            aria-selected="true">ThinkMd vers DHIS2
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="custom-tabs-one-cht-tab" data-toggle="pill" href="#custom-tabs-one-cht"
                            role="tab" aria-controls="custom-tabs-one-cht" aria-selected="false">CHT vers DHIS2
                        </a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <div class="tab-content" id="custom-tabs-one-tabContent">
                    <div class="tab-pane fade show active" id="custom-tabs-one-thinkmd" role="tabpanel" aria-labelledby="custom-tabs-one-thinkmd-tab">

                        <div class="row">
                            <div class="col-sm-7">
                                <div class="overlay-wrapper">
                                    <div *ngIf="loading1" class="overlay"><i class="fas fa-3x fa-sync-alt fa-spin"></i>
                                        <div class="text-bold pt-2">{{LoadingMsg}}</div>
                                    </div>

                                    <div class="card card-success">
                                        <div class="card-header">
                                            <h3 class="card-title">Envoyer les données ThinkMd au Dhis2</h3>
                                        </div>

                                        <form [formGroup]="thinkmdToDhis2Form" (ngSubmit)="runThinkmdToDhis2()"
                                            novalidate>
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label>Date de fin</label>
                                                            <input type="date" class="form-control {{endDateError()}}"
                                                                (change)="cleanError()" formControlName="end_date" />
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-2"></div>

                                                    <div class="col-sm-4">
                                                        <div class="form-group">
                                                            <label>Use Dhis2</label>
                                                            <div class="form-check">
                                                                <input id="thinkmdToDhis2" class="form-check-input"
                                                                    type="checkbox" formControlName="InsertIntoDhis2">
                                                                <label class="form-check-label"
                                                                    for="thinkmdToDhis2">Insert Into Dhis2</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label>District</label>
                                                            <select *ngIf="Districts$.length > 0"
                                                                (change)="genarateSites(thinkmdToDhis2Form)"
                                                                class="form-control" multiple="multiple"
                                                                formControlName="districts">
                                                                <option *ngFor="let district of Districts$"
                                                                    value="{{district.id}}">
                                                                    {{ district.name }}
                                                                </option>
                                                            </select>
                                                            <select *ngIf="Districts$.length == 0"
                                                                class="form-control"></select>
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label>Site</label>
                                                            <select *ngIf="sites$.length > 0"
                                                                (change)="genarateChws(thinkmdToDhis2Form)"
                                                                class="form-control" multiple="multiple"
                                                                formControlName="sites">
                                                                <option *ngFor="let site of sites$" value="{{site.external_id}}">
                                                                    {{ site.name }}
                                                                </option>
                                                            </select>
                                                            <select *ngIf="sites$.length == 0"
                                                                class="form-control"></select>
                                                        </div>
                                                    </div>
                                                </div>

                                                <br>
                                            </div>


                                            <div class="card-footer">
                                                <button [disabled]="!thinkmdToDhis2Form.valid" type="submit"
                                                    class="btn btn-success float-right"> Charger les données <span
                                                        class="fa fa-floppy-o fa-right"></span></button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-5">

                                <div *ngIf="tab1_messages_error != null">
                                    {{ tab1_messages_error }} <br>
                                </div>

                                <p *ngIf="Tab1Dhis2Import.Created > 0">Created: {{ Tab1Dhis2Import.Created }}</p> <br>
                                <p *ngIf="Tab1Dhis2Import.Updated > 0">Updated: {{ Tab1Dhis2Import.Updated }}</p> <br>
                                <p *ngIf="Tab1Dhis2Import.Deleted > 0">Deleted: {{ Tab1Dhis2Import.Deleted }}</p> <br>
                                <p *ngIf="Tab1Dhis2Import.ErrorCount > 0">ErrorCount: {{ Tab1Dhis2Import.ErrorCount }}
                                </p> <br>
                                <p *ngIf="Tab1Dhis2Import.ErrorMsg != ''">ErrorMsg: {{ Tab1Dhis2Import.ErrorMsg }}</p>
                                <br>

                                <div *ngFor="let item of tab1_messages?.dataToSend?.ErrorMsg| keyvalue">
                                    {{item.key}}:{{item.value}} <br>
                                </div>

                                {{ tab1_messages?.errorToSend?.ConsoleError }}<br>

                                <div *ngFor="let item of tab1_messages?.errorToSend?.ErrorData">
                                    Error Found: {{item}}<br>
                                </div>
                            </div>
                        </div>

                        <div *ngIf="tab1_messages?.dataToSend?.Data" class="row">
                            <div class="col-sm-12">
                                <div class="card">
                                    <div class="card-header">
                                        <div class="card-title">
                                          <table-export *ngIf="roles.canDownloadReports()"></table-export>
                                        </div>
                                      </div>
                                    <div class="card-body" style="overflow-y:scroll!important;">
                                        <table id="thinkmd_datatable" class="table table-bordered table-striped">
                                            <thead>
                                                <tr>
                                                    <th *ngFor="let data of tab1_messages?.dataToSend?.Data?.head">
                                                        {{ capitaliseData(data, '_') }}
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr
                                                    *ngFor="let data of tab1_messages?.dataToSend?.Data?.body| keyvalue">
                                                    <td *ngFor="let item of getItemAsArray(data)">
                                                        {{ item }}
                                                    </td>
                                                </tr>
                                            </tbody>

                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="tab-pane fade" id="custom-tabs-one-cht" role="tabpanel" aria-labelledby="custom-tabs-one-cht-tab">
                        <div class="row">
                            <div class="col-sm-7">
                                <div class="overlay-wrapper">
                                    <div *ngIf="loading3" class="overlay"><i class="fas fa-3x fa-sync-alt fa-spin"></i>
                                        <div class="text-bold pt-2">{{LoadingMsg}}</div>
                                    </div>

                                    <div class="card card-info">
                                        <div class="card-header">
                                            <h3 class="card-title">Envoyer les données Tonoudayo au Dhis2</h3>
                                        </div>
                                        <form [formGroup]="ihChtToDhis2Form" (ngSubmit)="flushIhChtDataToDhis2()"
                                            novalidate>
                                            <div class="card-body">

                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label>Date de début</label>
                                                            <input type="date" class="form-control {{startDateError()}}"
                                                                (change)="cleanError()" formControlName="start_date" />
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label>Date de fin</label>
                                                            <input type="date" class="form-control {{endDateError()}}"
                                                                (change)="cleanError()" formControlName="end_date" />
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label>District</label>
                                                            <select *ngIf="Districts$.length > 0"
                                                                (change)="genarateSites(ihChtToDhis2Form)"
                                                                class="form-control" multiple="multiple"
                                                                formControlName="districts">
                                                                <option *ngFor="let district of Districts$"
                                                                    value="{{district.id}}">
                                                                    {{ district.name }}
                                                                </option>
                                                            </select>
                                                            <select *ngIf="Districts$.length == 0"
                                                                class="form-control"></select>
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label>Site</label>
                                                            <select *ngIf="sites$.length > 0"
                                                                (change)="genarateChws(ihChtToDhis2Form)"
                                                                class="form-control" multiple="multiple"
                                                                formControlName="sites">
                                                                <option *ngFor="let site of sites$" value="{{site.id}}">
                                                                    {{ site.name }}
                                                                </option>
                                                            </select>
                                                            <select *ngIf="sites$.length == 0"
                                                                class="form-control"></select>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label>Use Dhis2</label>
                                                            <div class="form-check">
                                                                <input id="InsertIntoDhis2" class="form-check-input"
                                                                    type="checkbox" formControlName="InsertIntoDhis2">
                                                                <label for="InsertIntoDhis2"
                                                                    class="form-check-label">Insert Into
                                                                    Dhis2</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="card-footer">
                                                <button [disabled]="!ihChtToDhis2Form.valid" type="submit"
                                                    class="btn btn-info float-right"> Charger les données <span
                                                        class="fa fa-floppy-o fa-right"></span></button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-5">


                                <p *ngIf="Tab3Dhis2Import.Created > 0">Created: {{ Tab3Dhis2Import.Created }}</p> <br>
                                <p *ngIf="Tab3Dhis2Import.Updated > 0">Updated: {{ Tab3Dhis2Import.Updated }}</p> <br>
                                <p *ngIf="Tab3Dhis2Import.Deleted > 0">Deleted: {{ Tab3Dhis2Import.Deleted }}</p> <br>
                                <p *ngIf="Tab3Dhis2Import.ErrorCount > 0">ErrorCount: {{ Tab3Dhis2Import.ErrorCount }}
                                </p> <br>
                                <p *ngIf="Tab3Dhis2Import.ErrorMsg != ''">ErrorMsg: {{ Tab3Dhis2Import.ErrorMsg }}</p>
                                <br>

                                <h2 *ngIf="tab3_error_messages!=''">
                                    <div class="card card-info">
                                        <div class="card-body">
                                            {{ tab3_error_messages }}
                                        </div>
                                    </div>
                                </h2>
                                <h2 *ngIf="tab3_no_data_found == true">
                                    <div class="card card-info">
                                        <div class="card-body">
                                            Pas de données trouvée avec les paramettres renseignés !
                                        </div>
                                    </div>
                                </h2>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card" *ngIf="tab3_error_messages==''  && tab3_messages.length > 0">
                                    <div class="card-header">
                                        <div class="card-title">
                                          <table-export *ngIf="roles.canDownloadReports()"></table-export>
                                        </div>
                                      </div>
                                    <div class="card-body" style="overflow-y:scroll!important;">
                                        <table id="cht_datatable" class="table table-bordered table-striped">
                                            <thead>
                                                <th>Nom Asc</th>
                                                <th *ngFor="let item of tab3_messages[0].data| keyvalue">
                                                    {{ capitaliseDataGiven(item.key, '_', ' ') }}
                                                </th>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let data of tab3_messages">
                                                    <th>{{ data.chw.name }}</th>
                                                    <th *ngFor="let dt of data.data | keyvalue">{{ generateCount(dt.value) }}</th>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>