<div class="page-content-wrap">
    <div class="col-12 col-sm-12">
        <div class="card card-warning card-tabs">
            <div class="card-header p-0 pt-1">
                <ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="custom-tabs-chws-week-data-tab" data-toggle="pill"
                            href="#custom-tabs-chws-week-data" role="tab" aria-controls="custom-tabs-chws-week-data"
                            aria-selected="true">Chws Week Data
                        </a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <div class="tab-content" id="custom-tabs-one-tabContent">
                    <div class="tab-pane fade show active" id="custom-tabs-chws-week-data" role="tabpanel"
                        aria-labelledby="custom-tabs-chws-week-data-tab">

                        <div class="row">
                            <div class="col-sm-8">
                                <div class="overlay-wrapper">
                                    <div *ngIf="loading4" class="overlay"><i class="fas fa-3x fa-sync-alt fa-spin"></i>
                                        <div class="text-bold pt-2">{{LoadingMsg}}</div>
                                    </div>

                                    <div class="card card-primary">
                                        <div class="card-header">
                                            <h3 class="card-title">ThinkMd Données ASC par semaine</h3>
                                        </div>
                                        <form [formGroup]="ThinkMdWeeklyForm" (ngSubmit)="runThinkMdWeekly()"
                                            novalidate>
                                            <div class="card-body">


                                                <div class="row">
                                                    <div class="col-sm-5">
                                                        <div class="form-group">
                                                            <label>Selectionner les dates souhaitées. <br>
                                                                <small> <b>Toujours choisir les dates des Lundis de
                                                                        semaine</b> </small> </label>
                                                            <input type="date" class="form-control"
                                                                (change)="addToDateList()"
                                                                formControlName="start_date" />
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-1"></div>
                                                    <div *ngIf="weekly_Choosen_Dates.length > 0" class="col-sm-6">
                                                        <span style="color:blueviolet">Dates Sélectionées:</span>
                                                        <div class="row">
                                                            <div class="col-sm-5" style="margin: 10px 0px 10px 10px;"
                                                                *ngFor="let item of weekly_Choosen_Dates"
                                                                (click)="removeWeekDate(item)">
                                                                <b
                                                                    style="color: blue; margin-right: 10px;font-size: 14px;">{{
                                                                    dateTransform(item) }}</b> <span style="color: red;"
                                                                    class="fas fa-trash"></span>
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div *ngIf="is_weekly_date_error" style="color:red;">
                                                        <strong>{{weekly_date_error_Msg}}</strong>
                                                    </div>
                                                </div>
                                                <br>





                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label>District</label>
                                                            <select *ngIf="Districts$.length > 0"
                                                                (change)="genarateSites()"
                                                                class="form-control" multiple="multiple"
                                                                formControlName="districts">
                                                                <!-- <option value=""></option> -->
                                                                <option *ngFor="let district of Districts$"
                                                                    value="{{district.id}}">
                                                                    {{ district.name }}
                                                                </option>
                                                            </select>
                                                            <select *ngIf="Districts$.length == 0"
                                                                class="form-control"></select>
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label>Site</label>
                                                            <select *ngIf="sites$.length > 0"
                                                                (change)="genarateWeekyDataChws()" class="form-control"
                                                                multiple="multiple" formControlName="sites">
                                                                <!-- <option value=""></option> -->
                                                                <option *ngFor="let site of sites$" value="{{site.id}}">
                                                                    {{ site.name }}
                                                                </option>
                                                            </select>
                                                            <select *ngIf="sites$.length == 0"
                                                                class="form-control"></select>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label>Tableau Token</label>
                                                            <div class="form-check">
                                                                <input id="useToken2" class="form-check-input"
                                                                    type="checkbox" formControlName="useToken">
                                                                <label for="useToken2" class="form-check-label">Use
                                                                    Tableau
                                                                    Token</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div> -->

                                                <!-- <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label>Tableau Token User</label>
                                                            <input type="text" class="form-control"
                                                                formControlName="thinkmd_token_username" />
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label>Tableau Token</label>
                                                            <input type="password" class="form-control"
                                                                formControlName="thinkmd_token" />
                                                        </div>
                                                    </div>
                                                </div> -->

                                                <!-- <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label>DHIS2 USERNAME</label>
                                                            <input type="text" class="form-control"
                                                                formControlName="dhis2_username" />
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label>DHIS2 PASSWORD</label>
                                                            <input type="password" class="form-control"
                                                                formControlName="dhis2_password" />
                                                        </div>
                                                    </div>
                                                </div> -->
                                            </div>

                                            <!-- /.card-body -->
                                            <div class="card-footer">
                                                <button [disabled]="!ThinkMdWeeklyForm.valid" type="submit"
                                                    class="btn btn-primary float-right"> Charger les données <span
                                                        class="fa fa-floppy-o fa-right"></span></button>

                                                <!-- <button (click)="testJson();" class="btn btn-default float-right"> JSON TEST OUT<span class="fa fa-floppy-o fa-right"></span></button> -->
                                            </div>
                                            <!-- /.card-footer -->
                                        </form>
                                        <!-- /.card-body -->
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-4">

                                <div *ngIf="tab4_messages_error!=null">
                                    {{ tab4_messages_error }} <br>
                                </div>

                                <!-- {{ tab4_messages?.dataToSend?.Error }}<br> -->
                                <div *ngFor="let item of tab4_messages?.dataToSend?.ErrorMsg| keyvalue">
                                    {{item.key}}:{{item.value}} <br>
                                </div>

                                <!-- {{ tab4_messages?.errorToSend?.ErrorCount }}<br> -->
                                {{ tab4_messages?.errorToSend?.ConsoleError }}<br>

                                <div *ngFor="let item of tab4_messages?.errorToSend?.ErrorData">
                                    Error Found: {{item}}<br>
                                </div>
                                <div *ngIf="tab4_messages?.dataToSend?.success == 'true'">
                                    Pas d'erreur rencontré lors de la récupération des données sur le serveur!
                                </div>

                            </div>


                            <div class="col-sm-12">
                                <!-- /.card -->
                                <!-- <div class="card">
                                    <div class="card-header"> -->
                                        <!-- <h3 class="card-title">DataTable with default features</h3> -->
                                        <button type="button" (click)="initTable('weekly_thinkMd_datatable')">Générer
                                            Table</button>
                                    <!-- </div>
                                    <div class="card-body"> -->
                                        <table id="weekly_thinkMd_datatable" class="table table-bordered table-striped">
                                            <thead>
                                                <tr>
                                                    <th *ngFor="let data of tab4_messages?.dataToSend?.Data?.head">
                                                        {{ capitaliseData(data, '_') }}
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr
                                                    *ngFor="let data of tab4_messages?.dataToSend?.Data?.body | keyvalue">
                                                    <td *ngFor="let item of getItemAsArray(data)"
                                                        class="{{ genarateColor(item) }}">
                                                        {{ item }}
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    <!-- </div> -->
                                <!-- </div> -->
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- /.card -->
        </div>
    </div>
</div>