<div class="login-page">
  <div class="login-box">
    <div class="card card-outline card-primary">
      <div class="card-body">
        <div class="overlay-wrapper">
          <div *ngIf="isLoading" class="overlay"><i class="fas fa-3x fa-sync-alt fa-spin"></i>
            <div class="text-bold pt-2">{{LoadingMsg}}</div>
          </div>

          <span style="text-align: center;margin-bottom:20px;font-size:large; font-weight:bold;"
            class="login-box-msg">Modification du mot de passe</span><br>

          <span style="text-align: center!important;margin-bottom:20px;" *ngIf="message!=''" class="login-box-msg">{{ message }}</span><br>


          <form [formGroup]="authForm" (ngSubmit)="register()" novalidate class="form-horizontal">

            <!-- <label for="password">Old Password</label> -->
            <div class="input-group mb-3">
              <input id="old_password" type="{{passwordType[1]??'password'}}" class="form-control"
                placeholder="Ancien Mot de passe" formControlName="old_password" />
              <div class="input-group-append">
                <div (click)="showHidePassword(1)" class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
            </div>

            <!-- <label for="password">Password</label> -->
            <div class="input-group mb-3">
              <input id="new_password" type="{{passwordType[2]??'password'}}" class="form-control"
                placeholder="Nouveau mot de passe" formControlName="new_password" />
              <div class="input-group-append">
                <div (click)="showHidePassword(2)" class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
            </div>

            <!-- <label for="password_confirm">Password COnfirm</label> -->
            <div class="input-group mb-3">
              <input id="password_confirm" type="{{passwordType[3]??'password'}}" class="form-control"
                placeholder="Confirmer nouveau mot de passe" formControlName="password_confirm" />
              <div class="input-group-append">
                <div (click)="showHidePassword(3)" class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
            </div>
            <div *ngIf="passwordMatchError()" class="btn btn-danger">
              Password does not match
            </div>

            <div class="row">
              <div class="col-5">

              </div>
              <div class="col-md-7">
                <button color="accent" [disabled]="!authForm.valid" type="submit"
                  class="btn btn-warning btn-block">Modifier</button>
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>