<section class="content-header">
  <div class="container-fluid">
    <div class="card card-warning">

      <h1 style="text-align: center;">Effectifs des patients</h1>
      
      <div class="overlay-wrapper">
        <div *ngIf="isLoading" class="overlay"> <i class="fas fa-3x fa-sync-alt fa-spin"></i> <div class="text-bold pt-2"> {{initMsg}}</div></div>
      
      <div *ngIf="!roles.isChws()" class="card-header">
        <form [formGroup]="aggradateDataForm" (ngSubmit)="initAllData()" novalidate>
          <div class="row">

            <!-- <div class="col-sm-2 col-6">
              <div class="form-group">
                <label>Date Début</label>
                <input type="date" class="form-control" formControlName="start_date"/>
              </div>
            </div>

            <div class="col-sm-2 col-6">
              <div class="form-group">
                <label>Date Fin</label>
                <input type="date" class="form-control" formControlName="end_date"/>
              </div>
            </div>            -->
            
            <!-- <div class="col-sm-2 col-6">
              <div class="form-group">
                <label>Source</label>
                <select (change)="genarateSites()" class="form-control" formControlName="sources" (click)="genarateSites()">
                  <option value=""></option>
                  <option *ngFor="let source of sources$" value="{{source}}">
                    {{formatHostName(source)}}
                  </option>
                </select>
                
              </div>
            </div> -->

            <div class="col-sm-2 col-6">
              <div class="form-group">
                <label>District</label>
                <select *ngIf="Districts$.length > 0"  (change)="genarateSites()" class="form-control" multiple="multiple" formControlName="districts">
                  <option value=""></option>
                  <option *ngFor="let district of Districts$" value="{{district.id}}">
                    {{ district.name }}
                  </option>
                </select>
              </div>
              <select *ngIf="Districts$.length == 0"  class="form-control"></select>
            </div>

            <div class="col-sm-2 col-6">
              <div class="form-group">
                <label>Site</label>
                <select *ngIf="sites$.length > 0" (change)="genarateChws()" class="form-control" multiple="multiple" formControlName="sites" (click)="genarateChws()">
                  <option value=""></option>
                  <option *ngFor="let site of sites$" value="{{site.id}}">
                    {{ site.name }}
                  </option>
                </select>
              </div>
              <select *ngIf="sites$.length == 0"  class="form-control"></select>
            </div>

            <div class="col-sm-3 col-6">
              <div class="form-group">
                <label>ASC</label>
                <select *ngIf="chws$.length > 0" class="form-control" multiple="multiple" formControlName="chws">
                  <option value=""></option>
                  <option *ngFor="let chw of chws$" value="{{chw.id}}">
                    {{chw.name}}
                  </option>
                </select>
                <select *ngIf="chws$.length == 0"  class="form-control"></select>
              </div>
            </div>

            <div class="col-sm-1 col-6">
              <div class="form-group">
                <label>.</label>
                <button [disabled]="!aggradateDataForm.valid" type="submit" class="btn btn-warning form-control"> 
                  <i class="nav-icon fas fa-search"></i>
                </button>
              </div>
            </div>

          </div>
        </form>
      </div>

    </div>
    </div>

    <div class="row card-body">
      <div class="col-sm-3 col-6" *ngFor="let data of allAggragateData; trackBy:identifyAggragateData">
        <div class="small-box {{data.color}}">
          <div class="inner">
            <h3 style="font-size: 40px;">{{ data.count }}</h3>
            <p><strong>{{ data.label }}</strong></p>
          </div>
          <div class="icon"> <i class="ion {{data.icon}}"></i> </div>
        </div>
      </div>
    </div>

    <br><br>

  </div>
</section>
<!-- /.content -->