<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">

    <div class="col-12 col-sm-12">

        <div *ngIf="activePage === 'dataToDhis2'" class="card card-warning card-tabs">
            <div class="card-header p-0 pt-1">
                <ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="custom-tabs-one-thinkmd-tab" data-toggle="pill"
                            href="#custom-tabs-one-thinkmd" role="tab" aria-controls="custom-tabs-one-thinkmd"
                            aria-selected="true">ThinkMd To DHIS2
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="custom-tabs-one-cht-tab" data-toggle="pill" href="#custom-tabs-one-cht"
                            role="tab" aria-controls="custom-tabs-one-cht" aria-selected="false">CHT To DHIS2
                        </a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <div class="tab-content" id="custom-tabs-one-tabContent">
                    <!-- start tab 1 -->
                    <div class="tab-pane fade show active" id="custom-tabs-one-thinkmd" role="tabpanel"
                        aria-labelledby="custom-tabs-one-thinkmd-tab">

                        <div class="row">
                            <div class="col-sm-7">
                                <div class="overlay-wrapper">
                                    <div *ngIf="loading1" class="overlay"><i class="fas fa-3x fa-sync-alt fa-spin"></i>
                                        <div class="text-bold pt-2">{{LoadingMsg}}</div>
                                    </div>

                                    <!-- general form elements disabled -->
                                    <div class="card card-success">
                                        <div class="card-header">
                                            <h3 class="card-title">Get ThinkMd Aggragate Data From Tableau</h3>
                                        </div>

                                        <!-- /.card-header -->
                                        <form [formGroup]="thinkmdToDhis2Form" (ngSubmit)="runThinkmdToDhis2()"
                                            novalidate>
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label>Date de fin</label>
                                                            <input type="date" class="form-control {{endDateError()}}"
                                                                (change)="cleanError()" formControlName="end_date" />
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                                <!-- <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label>With Tableau Token</label>
                                                            <div class="form-check">
                                                                <input id="useToken" class="form-check-input"
                                                                    type="checkbox" formControlName="useToken">
                                                                <label for="useToken" class="form-check-label">Use
                                                                    Token</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div> -->

                                                <br>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label>Tableau Token User</label>
                                                            <input type="text" class="form-control"
                                                                formControlName="thinkmd_token_username" />
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label>Tableau Token</label>
                                                            <input type="password" class="form-control"
                                                                formControlName="thinkmd_token" />
                                                        </div>
                                                    </div>
                                                </div>

                                                <br>

                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label>Use Dhis2</label>
                                                            <div class="form-check">
                                                                <input id="thinkmdToDhis2" class="form-check-input"
                                                                    type="checkbox" formControlName="InsertIntoDhis2">
                                                                <label class="form-check-label"
                                                                    for="thinkmdToDhis2">Insert Into Dhis2</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>




                                                <div *ngIf="thinkmdToDhis2Form.value.InsertIntoDhis2" class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label>DHIS2 USERNAME</label>
                                                            <input type="text" class="form-control"
                                                                formControlName="dhis2_username" />
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label>DHIS2 PASSWORD</label>
                                                            <input type="password" class="form-control"
                                                                formControlName="dhis2_password" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                            <!-- /.card-body -->
                                            <div class="card-footer">
                                                <button [disabled]="!thinkmdToDhis2Form.valid" type="submit"
                                                    class="btn btn-success float-right"> Charger les données <span
                                                        class="fa fa-floppy-o fa-right"></span></button>
                                            </div>
                                            <!-- /.card-footer -->
                                        </form>
                                        <!-- /.card-body -->
                                    </div>
                                    <!-- /.card -->
                                </div>
                            </div>
                            <div class="col-sm-5">
                                
                                <div *ngIf="tab1_messages_error != null">
                                    {{ tab1_messages_error }} <br>
                                </div>

                                <div *ngFor="let item of tab1_messages?.dataToSend?.Dhis2Import| keyvalue">
                                    {{item.key}}:{{item.value}} <br>
                                </div>

                                <!-- {{ tab1_messages?.dataToSend?.Error }}<br> -->
                                <div *ngFor="let item of tab1_messages?.dataToSend?.ErrorMsg| keyvalue">
                                    {{item.key}}:{{item.value}} <br>
                                </div>

                                <!-- {{ tab1_messages?.errorToSend?.ErrorCount }}<br> -->
                                {{ tab1_messages?.errorToSend?.ConsoleError }}<br>

                                <div *ngFor="let item of tab1_messages?.errorToSend?.ErrorData">
                                    Error Found: {{item}}<br>
                                </div>
                                <div *ngIf="tab1_messages?.dataToSend?.success == 'true'">
                                    Pas d'erreur rencontré lors de la récupération des données sur le serveur!
                                </div>


                            </div>

                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <!-- /.card -->
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">DataTable with default features</h3>
                                        <button type="button" (click)="initTable('thinkmd_datatable')">Generate
                                            Table</button>
                                    </div>
                                    <!-- /.card-header -->
                                    <div class="card-body">
                                        <table id="thinkmd_datatable" class="table table-bordered table-striped">
                                            <thead>
                                                <tr>
                                                    <th *ngFor="let data of tab1_messages?.dataToSend?.Data?.head">
                                                        {{ capitaliseData(data, '_') }}
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr
                                                    *ngFor="let data of tab1_messages?.dataToSend?.Data?.body | keyvalue">
                                                    <td *ngFor="let item of getItemAsArray(data)">
                                                        {{ item }}
                                                    </td>
                                                </tr>
                                            </tbody>

                                        </table>
                                    </div>
                                    <!-- /.card-body -->
                                </div>
                                <!-- /.card -->
                            </div>
                        </div>
                    </div>

                    <!-- start tab 2 -->
                    <div class="tab-pane fade" id="custom-tabs-one-cht" role="tabpanel"
                        aria-labelledby="custom-tabs-one-cht-tab">

                        <div class="row">
                            <div class="col-sm-7">
                                <div class="overlay-wrapper">
                                    <div *ngIf="loading3" class="overlay"><i class="fas fa-3x fa-sync-alt fa-spin"></i>
                                        <div class="text-bold pt-2">{{LoadingMsg}}</div>
                                    </div>

                                    <!-- general form elements disabled -->
                                    <div class="card card-info">
                                        <div class="card-header">
                                            <h3 class="card-title">Get Aggregate Data From CHT mebile</h3>
                                        </div>
                                        <!-- /.card-header -->
                                        <form [formGroup]="ihChtToDhis2Form" (ngSubmit)="runIhChtToDhis2()" novalidate>
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label>Date de début</label>
                                                            <input type="date" class="form-control {{startDateError()}}"
                                                                (change)="cleanError()" formControlName="start_date" />
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label>Date de fin</label>
                                                            <input type="date" class="form-control {{endDateError()}}"
                                                                (change)="cleanError()" formControlName="end_date" />
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label>Use Dhis2</label>
                                                            <div class="form-check">
                                                                <input id="InsertIntoDhis2" class="form-check-input"
                                                                    type="checkbox" formControlName="InsertIntoDhis2">
                                                                <label for="InsertIntoDhis2"
                                                                    class="form-check-label">Insert Into
                                                                    Dhis2</label>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div *ngIf="ihChtToDhis2Form.value.InsertIntoDhis2"
                                                        class="col-sm-6">
                                                        <div class="form-group">
                                                            <label>DHIS2 HOST</label>
                                                            <input type="text" class="form-control"
                                                                formControlName="dhis2_host" />
                                                        </div>
                                                    </div>
                                                </div>

                                                <div *ngIf="ihChtToDhis2Form.value.InsertIntoDhis2" class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label>DHIS2 USERNAME</label>
                                                            <input type="text" class="form-control"
                                                                formControlName="dhis2_username" />
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label>DHIS2 PASSWORD</label>
                                                            <input type="password" class="form-control"
                                                                formControlName="dhis2_password" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- /.card-body -->
                                            <div class="card-footer">
                                                <button [disabled]="!ihChtToDhis2Form.valid" type="submit"
                                                    class="btn btn-info float-right"> Charger les données <span
                                                        class="fa fa-floppy-o fa-right"></span></button>
                                            </div>
                                            <!-- /.card-footer -->
                                        </form>
                                        <!-- /.card-body -->
                                    </div>
                                    <!-- /.card -->
                                </div>
                            </div>

                            <div class="col-sm-5">
                                <div *ngFor="let item of tab3_messages?.dataToSend?.Dhis2Import| keyvalue">
                                    {{item.key}}:{{item.value}} <br>
                                </div>

                                <!-- {{ tab3_messages?.dataToSend?.Error }}<br> -->
                                <div *ngFor="let item of tab3_messages?.dataToSend?.ErrorMsg| keyvalue">
                                    {{item.key}}:{{item.value}} <br>
                                </div>

                                <!-- {{ tab3_messages?.errorToSend?.ErrorCount }}<br> -->
                                {{ tab3_messages?.errorToSend?.ConsoleError }}<br>

                                <div *ngFor="let item of tab3_messages?.errorToSend?.ErrorData">
                                    Error Found: {{item}}<br>
                                </div>
                                <div *ngIf="tab3_messages?.dataToSend?.success == 'true'">
                                    Pas d'erreur rencontré lors de la récupération des données sur le serveur!
                                </div>


                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <!-- /.card -->
                                <div class="card"
                                    *ngIf="tab3_messages?.dataToSend?.Data != null && tab3_messages?.dataToSend?.Data != undefined">
                                    <div class="card-header">
                                        <h3 class="card-title">DataTable with default features</h3>
                                        <button type="button" (click)="initTable('medic_datatable')">Generate
                                            Table</button>
                                    </div>
                                    <!-- /.card-header -->
                                    <div class="card-body">
                                        <table id="medic_datatable" class="table table-bordered table-striped">
                                            <thead>
                                                <tr>
                                                    <th *ngFor="let data of tab3_messages?.dataToSend?.Data?.head">
                                                        {{ capitaliseData(data, '_') }}
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr
                                                    *ngFor="let data of tab3_messages?.dataToSend?.Data?.body | keyvalue">
                                                    <td *ngFor="let item of getItemAsArray(data)">
                                                        {{ item }}
                                                    </td>
                                                </tr>
                                            </tbody>
                                            <!-- <tfoot>
                                                <tr *ngFor="let data of tab3_messages?.dataToSend?.Data | keyvalue">
                                                    <td>{{capitaliseData(item.key, '_')}}</td>
                                                    <th *ngFor="let item of getItemAsArray(data,true)">
                                                        <td>{{capitaliseData(item.key, '_')}}</td>
                                                        {{ item }}
                                                    </th>
                                                </tr>
                                            </tfoot> -->
                                        </table>
                                    </div>
                                    <!-- /.card-body -->
                                </div>
                                <!-- /.card -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card -->
        </div>


        <div *ngIf="activePage === 'weeklyData'" class="card card-warning card-tabs">
            <div class="card-header p-0 pt-1">
                <ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="custom-tabs-chws-week-data-tab" data-toggle="pill"
                            href="#custom-tabs-chws-week-data" role="tab" aria-controls="custom-tabs-chws-week-data"
                            aria-selected="true">Chws Week Data
                        </a>
                    </li>
                </ul>
            </div>

            <div class="card-body">
                <div class="tab-content" id="custom-tabs-one-tabContent">
                    <!-- start tab 4 -->
                    <div class="tab-pane fade show active" id="custom-tabs-chws-week-data" role="tabpanel"
                        aria-labelledby="custom-tabs-chws-week-data-tab">

                        <div class="row">
                            <div class="col-sm-7">
                                <div class="overlay-wrapper">
                                    <div *ngIf="loading4" class="overlay"><i class="fas fa-3x fa-sync-alt fa-spin"></i>
                                        <div class="text-bold pt-2">{{LoadingMsg}}</div>
                                    </div>

                                    <div class="card card-primary">
                                        <div class="card-header">
                                            <h3 class="card-title">Get Chws Weekly Data from ThinkMd and Medic</h3>
                                        </div>
                                        <form [formGroup]="ChtThinkMdWeeklyForm" (ngSubmit)="runThinkMdWeekly()"
                                            novalidate>
                                            <div class="card-body">

                                                <div class="row">
                                                    <div class="col-sm-3" *ngFor="let item of weekly_Choosen_Dates"
                                                        (click)="removeWeekDate(item)">
                                                        <div class="form-group">
                                                            <strong>
                                                                {{ item }}
                                                            </strong>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div *ngIf="is_weekly_date_error" style="color:red;">
                                                    <strong>{{weekly_date_error_Msg}}</strong>
                                                </div>


                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label>Date de début</label>
                                                            <input type="date" class="form-control"
                                                                (change)="addToDateList()"
                                                                formControlName="start_date" />
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label>Tableau Token</label>
                                                            <div class="form-check">
                                                                <input id="useToken2" class="form-check-input"
                                                                    type="checkbox" formControlName="useToken">
                                                                <label for="useToken2" class="form-check-label">Use
                                                                    Tableau
                                                                    Token</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div> -->


                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label>Tableau Token User</label>
                                                            <input type="text" class="form-control"
                                                                formControlName="thinkmd_token_username" />
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label>Tableau Token</label>
                                                            <input type="password" class="form-control"
                                                                formControlName="thinkmd_token" />
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label>DHIS2 USERNAME</label>
                                                            <input type="text" class="form-control"
                                                                formControlName="dhis2_username" />
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label>DHIS2 PASSWORD</label>
                                                            <input type="password" class="form-control"
                                                                formControlName="dhis2_password" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- /.card-body -->
                                            <div class="card-footer">
                                                <button [disabled]="!ChtThinkMdWeeklyForm.valid" type="submit"
                                                    class="btn btn-primary float-right"> Charger les données <span
                                                        class="fa fa-floppy-o fa-right"></span></button>

                                                <!-- <button (click)="testJson();" class="btn btn-default float-right"> JSON TEST OUT<span class="fa fa-floppy-o fa-right"></span></button> -->

                                            </div>
                                            <!-- /.card-footer -->
                                        </form>
                                        <!-- /.card-body -->



                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-5">
                                
                                <div *ngIf="tab4_messages_error!=null">
                                    {{ tab4_messages_error }} <br>
                                </div>

                                <div *ngFor="let item of tab4_messages?.dataToSend?.Dhis2Import| keyvalue">
                                    {{item.key}}:{{item.value}} <br>
                                </div>

                                <!-- {{ tab4_messages?.dataToSend?.Error }}<br> -->
                                <div *ngFor="let item of tab4_messages?.dataToSend?.ErrorMsg| keyvalue">
                                    {{item.key}}:{{item.value}} <br>
                                </div>

                                <!-- {{ tab4_messages?.errorToSend?.ErrorCount }}<br> -->
                                {{ tab4_messages?.errorToSend?.ConsoleError }}<br>

                                <div *ngFor="let item of tab4_messages?.errorToSend?.ErrorData">
                                    Error Found: {{item}}<br>
                                </div>
                                <div *ngIf="tab4_messages?.dataToSend?.success == 'true'">
                                    Pas d'erreur rencontré lors de la récupération des données sur le serveur!
                                </div>


                            </div>


                            <div class="col-sm-12">
                                <!-- /.card -->
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">DataTable with default features</h3>
                                        <button type="button" (click)="initTable('medic_thinkMd_datatable')">Generate
                                            Table</button>
                                    </div>
                                    <!-- /.card-header -->
                                    <div class="card-body">
                                        <table id="medic_thinkMd_datatable" class="table table-bordered table-striped">
                                            <thead>
                                                <tr>
                                                    <th *ngFor="let data of tab4_messages?.dataToSend?.Data?.head">
                                                        {{ capitaliseData(data, '_') }}
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr
                                                    *ngFor="let data of tab4_messages?.dataToSend?.Data?.body | keyvalue">
                                                    <td *ngFor="let item of getItemAsArray(data)"
                                                        class="{{ genarateColor(item) }}">
                                                        {{ item }}
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- /.card-body -->
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- /.card -->
        </div>

    </div>
</div>
<!-- END PAGE CONTENT WRAPPER -->