<!-- PAGE TITLE -->
<div  class="page-title card card-primary card-outline">
    <!-- <button (click)="CreateUser()"></button> -->
    <div class="card-body">
        <span style="float: left;" class="fas fa-user"> Users List</span> 
        <button (click)="CreateUser()" style="float: right;" type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-default">
            Add User
        </button>
    </div>
</div>
<!-- END PAGE TITLE -->

<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">
    <div class="row">
        <div class="col-md-12">
            <!-- START DEFAULT DATATABLE -->
            <div class="panel panel-default">
                <div class="panel-heading">

                </div>
                <div class="panel-body">
                    <table class="table datatable">
                        <thead>
                            <tr>
                                <th>id</th>
                                <th>N°</th>
                                <th>Username</th>
                                <th>Full name</th>
                                <th>Email</th>
                                <th>Role</th>
                                <th colspan="2">Actions</th>
                                <th>InActifs</th>
                                <th>IsSuperAdmin</th>
                                
                                <!-- <th>isFirst</th>
                                    <th>isOdd</th> -->
                            </tr>
                        </thead>

                        


                        <tbody *ngFor="let user of users$; let index = index; let isFirst = first; let isOdd = odd;">
                            <tr>
                                <td>{{ user.id }}</td>
                                <td>{{ index+1 }}</td>
                                <td>{{ user.username }}</td>
                                <td>{{ user.fullname }}</td>
                                <!-- <td>{{ user.email }}</td> -->
                                <td>{{ user.roles }}</td>
                                <td>
                                    <i (click)="EditUser(user)" class="btn-warning fas fa-edit" data-toggle="modal" data-target="#modal-default"></i>
                                </td>
                                <td>
                                    <i (click)="selectedUser(user)"  class="btn-danger fas fa-trash-alt" data-toggle="modal" data-target="#modal-danger"></i>
                                </td>
                                <td><span style='font-size:20px;'>{{user.isActive ? '' : '&#10003;'}}</span></td>
                                <!-- <td><span style='font-size:20px;'>{{user.isSuperAdmin ? '&#10003;' : ''}}</span></td> -->
                                
                                <!-- <td>{{ isFirst }}</td>
                                        <td>{{ isOdd }}</td> -->
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- END DEFAULT DATATABLE -->
        </div>
    </div>
</div>
<!-- PAGE CONTENT WRAPPER -->


 
<div class="modal fade" id="modal-default">
    <div class="modal-dialog">
        <form [formGroup]="userForm" (ngSubmit)="register()" novalidate class="form-horizontal">
        <div class="modal-content">
            <div class="modal-header">
                <img height="30" class="modal-title" src="{{ APP_LOGO}}" alt="" srcset="">

               <strong style="text-align: center;" class="login-box-msg"><span class=" btn-{{ isEditMode?'warning':'success' }}">{{ isEditMode ? 'Modifier un utilisateur' :'Ajouter un utilisateur' }}</span></strong>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <p class="login-box-msg"><strong>{{ message }}</strong></p>

            <label *ngIf="isEditMode" for="username">Username</label>
            <div class="input-group mb-3">
                <input id="username" type="text" class="form-control" placeholder="Username" formControlName="username" />
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-user"></span>
                    </div>
                </div>
            </div>
            
            <label *ngIf="isEditMode" for="fullname">Full Name</label>
            <div class="input-group mb-3">
                <input id="fullname" type="text" class="form-control" placeholder="Full Name" formControlName="fullname" />
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-user"></span>
                    </div>
                </div>
            </div>

            <!-- <label *ngIf="isEditMode" for="email">Email</label>
            <div class="input-group mb-3">
                <input id="email" type="email" class="form-control" placeholder="Email" formControlName="email" />
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-envelope"></span>
                    </div>
                </div>
            </div> -->

            <label *ngIf="isEditMode" for="password">Password</label>
            <div class="input-group mb-3">
                <input id="password" type="password" class="form-control" placeholder="Password" formControlName="password" />
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-lock"></span>
                    </div>
                </div>
            </div>

            <label *ngIf="isEditMode" for="passwordConfirm">Password COnfirm</label>
            <div class="input-group mb-3">
                <input id="passwordConfirm" type="password" class="form-control" placeholder="Retype password" formControlName="passwordConfirm" />
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-lock"></span>
                    </div>
                </div>
            </div>
            <div *ngIf="passwordMatchError()" class="btn btn-danger">
                Password does not match
            </div>

            <label *ngIf="isEditMode" for="passwordConfirm">Rôles</label>
            <div class="input-group mb-3">
                <select class="form-control" multiple="multiple" formControlName="roles">
                    <!-- <option value="">Select All</option> -->
                    <option *ngFor="let role of roles$" value="{{role}}">
                      {{ role }}
                    </option>
                  </select>
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-lock"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <div class="input-group mb-3">
                        <div class="icheck-primary">
                            <input type="checkbox" id="isActive" formControlName="isActive">
                            <label for="isActive">Activer</label>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-6">
                    <div class="input-group mb-3">
                        <div class="icheck-primary">
                            <input type="checkbox" id="isSuperAdmin" formControlName="isSuperAdmin">
                            <label for="isSuperAdmin">isSuperAdmin</label>
                        </div>
                    </div>
                </div> -->
            </div>


            

            </div>
            <div class="modal-footer justify-content-between">
                <button id="close-modal" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button [disabled]="!userForm.valid" type="submit" class="btn btn-{{isEditMode ? 'warning': 'success'}}">{{isEditMode ? 'Modifier': 'Sauvegarder'}}</button>
            </div>
        </div>
    </form>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modal-danger">
    <div class="modal-dialog">
        <div class="modal-content bg-danger">
            <div class="modal-header">

               <h4 class="modal-title">Suppression d'utilisateur</h4>
                <button id="close-delete-modal" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body"> 
                Cette action est iréversible! Êtes vous sûr de procéder à la suppression ? 
                
                <p class="login-box-msg"><strong>{{ message }}</strong></p>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                <button (click)="DeleteUser()" type="button" class="btn btn-danger swalDefaultSuccess">Oui Supprimer !</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>