        
        <!-- PAGE TITLE -->
        <div class="page-title">
            <h2><span class="fa fa-arrow-circle-o-left"></span> Users List</h2>
        </div>
        <!-- END PAGE TITLE -->
        <!-- PAGE CONTENT WRAPPER -->
        <div class="page-content-wrap">
            <div class="row">
                <div class="col-md-12">
                    <!-- START DEFAULT DATATABLE -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <!-- <h3 class="panel-title">Default</h3> -->
                            <ul class="panel-controls">
                                <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
                                <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                                <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
                            </ul>
                        </div>
                        <div class="panel-body">
                            <table class="table datatable">
                                <thead>
                                    <tr>
                                        <th>N°</th>
                                        <th>Username</th>
                                        <th>Full name</th>
                                        <th>Email</th>
                                        <th>isFirst</th>
                                        <th>isOdd</th>
                                    </tr>
                                </thead>

                                <tbody
                                    *ngFor="let user of users$; let index = index; let isFirst = first; let isOdd = odd;">
                                    <tr>
                                        <td>{{ index+1 }}</td>
                                        <td>{{ user.username }}</td>
                                        <td>{{ user.fullname }}</td>
                                        <td>{{ user.email }}</td>
                                        <td>{{ isFirst }}</td>
                                        <td>{{ isOdd }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- END DEFAULT DATATABLE -->
                </div>
            </div>
        </div>
        <!-- PAGE CONTENT WRAPPER -->
