<!-- Main content -->

<section class="content">
  <div class="container-fluid">
    
    <div class="card card-info">
      
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Condensed Full Width Table</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body p-0">
          <table class="table table-sm table-striped" style="margin-left: auto;margin-right: auto;">
            <thead>
              <tr>
                <th style="width: 10px">#</th>
                <th>Task</th>
                <th>Label</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><span class="custom-badge">1.</span></td>
                <td>
                  <span class="custom-badge">Update software</span>
                  <br>
                  <span class="info">Action total: <strong>275</strong></span>
                </td>

                <td style="text-align: center;">
                  <span class="custom-action">55</span>
                  <br>
                  <span class="info">Actions/Jr</span>
                </td>
              </tr>
              <tr>
                <td>2.</td>
                <td>Clean database</td>
                <td><span class="badge bg-warning">70%</span></td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      
    </div>

  </div>
</section>
<!-- /.content -->