<style>
    label {
        display: block;
    }
</style>

<div class="login-page register-page">

<div class="login-box register-box">

<div class="card card-outline card-primary">
    <div class="card-header text-center">
        <img src="{{APP_LOGO}}" alt="" srcset="">
        <!-- <a href="" class="h1"><b>Admin</b></a> -->
    </div>
    
    <div class="card-body">
        <div class="overlay-wrapper">
            <div *ngIf="isLoading" class="overlay"><i class="fas fa-3x fa-sync-alt fa-spin"></i>
                <div class="text-bold pt-2">{{LoadingMsg}}</div>
            </div>

        <p class="login-box-msg"><strong>{{ message }}</strong></p>
        <form [formGroup]="authForm" (ngSubmit)="register()" novalidate class="form-horizontal">
            <!-- <label for="username">Username</label> -->
            <div class="input-group mb-3">
                <input id="username" type="text" class="form-control" placeholder="Username" formControlName="username" />
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-user"></span>
                    </div>
                </div>
            </div>
            
            <!-- <label for="fullname">Full Name</label> -->
            <div class="input-group mb-3">
                <input id="fullname" type="text" class="form-control" placeholder="Full Name" formControlName="fullname" />
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-user"></span>
                    </div>
                </div>
            </div>

            <!-- <label for="email">Email</label> -->
            <div class="input-group mb-3">
                <input id="email" type="email" class="form-control" placeholder="Email" formControlName="email" />
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-envelope"></span>
                    </div>
                </div>
            </div>

            <!-- <label for="password">Password</label> -->
            <div class="input-group mb-3">
                <input id="password" type="{{passwordType}}" class="form-control" placeholder="Password" formControlName="password" />
                <div class="input-group-append">
                    <div (click)="showHidePassword()" class="input-group-text">
                        <span class="fas fa-lock"></span>
                    </div>
                </div>
            </div>

            <!-- <label for="passwordConfirm">Password COnfirm</label> -->
            <div class="input-group mb-3">
                <input id="passwordConfirm" type="password" class="form-control" placeholder="Retype password" formControlName="passwordConfirm" />
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-lock"></span>
                    </div>
                </div>
            </div>
            <div *ngIf="passwordMatchError()" class="btn btn-danger">
                Password does not match
            </div>

            <div class="row">
                <div class="col-7">
                    <div class="icheck-primary">
                        <input type="checkbox" id="agreeTerms" name="terms" formControlName="agree_terms">
                        <label for="agreeTerms">J'accepte les <a href="#">termes</a></label>
                    </div>
                </div>
                <div class="col-md-5">
                    <button color="accent" [disabled]="!authForm.valid" type="submit" class="btn btn-success btn-block">register</button>
                </div>
            </div>
        </form>

        <!-- <div class="social-auth-links text-center">
            <a href="#" class="btn btn-block btn-primary">
                <i class="fab fa-facebook mr-2"></i>
                {{isLoginForm ? 'Sign In using Facebook' : 'Sign up using Facebook'}}
            </a>
            <a href="#" class="btn btn-block btn-danger">
                <i class="fab fa-google-plus mr-2"></i>
                {{isLoginForm ? 'Sign In using Google+' : 'Sign up using Google+'}}
            </a>
        </div> -->

        <a routerLink="/auths/login" class="text-center">Me connecter</a>

       
        </div>
    </div>
</div>
</div>

</div>